@import './imports/variables';
@import './imports/bucles';
@import './imports/mixins';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



/*FONDO DE LA PÁGINA*/
body {
    background-image: url("../media/treebark.png");
}

/*HEADER*/

header {
    height: 140px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 90%;
    grid-template-areas: 
    "logo titulogan";
    background-color: $colorPrimario;
    .header__logo {
            @include tamaño (0.5%, 0%);
            justify-self: center;
            grid-area: logo;
            a {
                img {
                    @include tamañocaja (140px, 140px);
                    transition: transform 1s;
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    .header__tituloEslogan {
            grid-area: titulogan;
            justify-self: start;
            @include tamaño (1%, 1%);
            height: 130px;
            .linkTitulo {
                text-decoration: none;
                    #tituloQuokka {
                        color: $colorQuinario;
                        font-size: 50px;
                        text-align: center;
                        font-family: $fuentePrincipal;
                        @include tamaño (0.5%, 0.5%);
                        transform: rotate(-10deg);
                        transition: color 5s;
                        transition:  transform 2s;
                        &:hover {
                        color: $colorSenario;
                        transform: scale(1.2);
                    }
                }
            }
            .eslogan {
                color: $colorSenario;
                font-style: $estiloinclinado;
                font-size: 20px;
                text-align: center;
                font-family: $fuenteTerciaria;
        }
    }            
}

        /*MENU*/

nav{
    @include tamaño (1%, 0.5%);
    .navbar-brand {
        font-family: $fuentePrincipal;
        padding-right: 2%;
    }
    ul {
        font-size: 20px;
        li {
            display: inline-block;
            background-size: cover;
            font-family: $fuenteTerciaria;
            text-transform: $estiloMayuscula;
        }
    }
    .listaGrid.show{
        display: grid;
    }
    #buscarNav {
        padding-left: 7%;
    }
}

nav {
    ol {
        .bread1 {
            a {
                color: $colorPrimario;
            }
        }
        li {
            color: $colorSecundario;
        }
    }
}

        /*FORMULARIO*/
.formulario {
    .modal-header {
        .btn-close {
            padding: 2px;
            width: 35px;
        }
    }
    .titulo{
        display: flex;
        justify-content: center;
        .formulario__titulo {
            color: $colorSenario;
            font-weight: bold;
            font-family: $fuenteTerciaria;
            @include tamañocaja (20%, 100%); 
            @include tamaño (2%, 1%);
        }
    }
        .formulario__datos {
            color: $colorSenario;
            font-weight: bold;
            font-family: $fuenteSecundaria;
        }

        .formulario__checkbox {
            color: $colorSecundario;
            font-style: $estiloinclinado;
            }
        .form-select {
            option {
                font-family: $fuenteSecundaria;
            }
        }
}

     /* PARTE CENTRAL DE LA PÁGINA */
/*H3 DE RECOMENDACIONES*/

.aside__titulo {
    font-family: $fuenteTerciaria;
    padding-bottom: 5%;
    font-size: 30px;
}

main {
    .main__banner {
        img {
            width: 100%
        }
        transition: transform 2s;
        &:hover{
            transform: scale(0.9);
        }
    }

    .main__quienes {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tamaño (2%, 1%);
        h4 {
            color: $colorPrimario;
        }
        transition: transform 1s;
        &:hover{
            transform: scale(1.1);
        }
    }

    .main__porque {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tamaño (2%, 1%);
        h5 {
            color: $colorSecundario;
        }
        transition: transform 1s;
        &:hover{
            transform: scale(1.1);
        }
    }
    .divImg {
        display: flex;
        justify-content: center;
        img {
            width: 300px;
        }
    }
}

/* PAGINA VESTIMENTA */

.main__Vestimenta {
    div {
        ul {
            li {
                a {
                    @include formatodescripcion (none, $colorPrimario);
                }
            }
        }
    }
    section {
        display: flex;
        flex-direction: column;
    }
}

/* PAGINA OTROS-COMIDA */

.main__otrosComida {
    div {
        section {
            p {
                a {
                    @include formatodescripcion (none, $colorPrimario);
                }
            }
        }
    }
}



/* PAGINA OTROS */

.main__otros {
    div {
        section {
            p {
                a {
                    @include formatodescripcion(none, $colorSecundario)
                }
            }
        }
    }
}

        /*FOOTER*/

.footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding:0.5%;
    background-color: $colorPrimario;
    .footer__seguinos {
        color: $colorTerciario;
        font-style: $estiloinclinado;
        font-family: $fuenteSecundaria;
        font-size: 20px;
    }
    .footer__iconos {
        width: 15%;
        justify-content: center;
        text-align: center;
        li {
            display: inline-block;
            position: relative;
            @include tamaño (5%, 0.5%);
            .footer__link {
                text-decoration: none;
                @include tamañocaja (25px, 25px);
                transition: transform 0.5s;
                &:hover {
                    transform: scale(1.5);
                }
            }
            
        }
    
    }
    h6{
        font-size: 15px;
    }
    
}

        /* MEDIA QUERIES */
/* TABLET */
@media only screen and (max-width: 768px) and (min-width: 577px)
{
    header {
        background-color: $colorTerciario;
        .header__tituloEslogan {
            padding-left: 10%;
            .linkTitulo {
                #tituloQuokka {
                    color: $colorPrimario;
                }
            }
            .eslogan {
                color: $colorSenario;
            }
        }
    }
    .footer {
        background-color: $colorTerciario;
        .footer__seguinos{
            color: $colorPrimario;
        }
        .footer__iconos {
            width: 30%;
        }
    }

}
/* MOBILE */
@media only screen and (max-width: 576px) and (min-width:0px)
{
    header {
        background-color: $colorSecundario;
        .header__logo {
            padding-left: 100%;
        }
        .header__tituloEslogan {
            display: none;
        }
    }
    .footer {
        background-color: $colorSecundario;
        .footer__seguinos{
            color: $colorSenario;
        }
       .footer__iconos {
        width: 40%;
      } 
    }

}