/* Colores */

$colorPrimario: #ba6b6c;
$colorSecundario: #ef9a9a;
$colorTerciario: #ffcccb;
$colorCuaternario: #c8b7b5;
$colorQuinario: #fbe9e7;
$colorSenario: black;

/* Fuentes */

$fuentePrincipal: 'Finger Paint', cursive;
$fuenteSecundaria: 'Chelsea Market', cursive;
$fuenteTerciaria: 'Averia Gruesa Libre', cursive; 

/* Estilos */
$estiloMayuscula: uppercase;
$estiloinclinado: italic;
